body {
      
      font-family: 'Inter', sans-serif;
    }

    .form-check-input:checked {
      background-color: #00bcd4;
      border-color: #00bcd4;
    }

    .btn-order {
      background-color: #00bcd4;
      border: none;
      font-weight: 600;
    }

    .btn-order:hover {
      background-color: #0097a7;
    }

    .total-price {
      color: red;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .order-summary img {
      border-radius: 6px;
    }

    .my-thanhtoan input select{
        height: 100px;
    }