.divcon {
  width: 1400px;
  height: 70px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 8px;
}
.thetentrangchu {
  color: #808089;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.thediengiadung {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.banner1 {
  width: 600px;
  height: 185px;
  flex-shrink: 0;
}
.banner2 {
  margin-left: 70px;
  width: 600px;
  height: 185px;
  flex-shrink: 0;
}
.banner {
  display: flex;
}
.thedanhmuc1 .col-auto {
  margin-left: 30px;
  margin-right: 50px;
}
.danhmuc1 {
  width: 1000px;
  height: 170px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 8px;
}
.category-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #eee;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.theacuadanhmuc {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.thelocsanpham {
  background-color: white;
  width: 1340px;
  margin-left: -20px;
}
.noidung {
  width: 1350px;
  margin-left: 280px;
  background-color: white;
  display: flex;
}
.themenunoidung {
  width: 240px;
  height: 960px;
  flex-shrink: 0;
}
.noidung2 {
  margin-left: 1000px;
}
.thedivnoidung {
  width: 159px;
  height: 320px;
  flex-shrink: 0;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px 30px;
  text-align: center;
  transition: transform 0.2s;
  height: 100%;

}
